.main-box {
    width: 300px; /* Set an appropriate width */
    height: 200px; /* Set an appropriate height */
    background-color: purple;
    position: absolute;
    padding: 20px;
    top: 40%;
    left: 40%;
  }
  
  .child1-box,
  .child2-box {
    width: 100px;
    height: 50px;
    margin-top: 5px;
  }
  
  .child1-box {
    background-color: rgb(0, 60, 128);
  }
  
  .child2-box {
    background-color: rgb(59, 207, 0);
  }
  
  .button {
    width: 120px; /* Set an appropriate width */
    height: 40px; /* Set an appropriate height */
    background-color: rgb(255, 0, 0);
    position: absolute;
    padding: 10px; /* Adjust padding as needed */
    top: 30%;
    left: 40%;
  }
  